body {
  background: #E9E9E9;
}

.btn-primary {
  background: #8860D0 !important;
  border: 1px solid black;
  &:active, &:visited {
    background: #8860D0 !important;
  }
  &:hover {
    background: #51397C !important;
    border: 1px solid black !important;
  }
}

header {
  width: 65%;
  margin: 1rem auto;
  background: #C1C8E4 !important;
  h1 {
    margin: 1.5rem 2.5rem;
  }
  #new_reminder {
    text-align: right;
    a {
      margin: 1.75rem 1rem 1.75rem 0rem;
    }
  }
}

main {
  width: 65%;
  margin: 1rem auto;
  background: #C1C8E4 !important;
  font-size: 1.2rem;
  .gj-datepicker, .gj-timepicker {
    .input-group {
      width: 100%;
    }
    .btn-outline-secondary {
      background: #8860D0 !important;
      border: 1px solid black !important;
      i {
        color: white;
      }
      &:hover {
        background: #51397C !important;
      }
    }
  }
  input, select, textarea {
    border: 1px solid black !important;
  }
  #main_form .col-11 {
    margin: 1rem 1.5rem 0 1.5rem;
    .num_of_times {
      input {
        display: none;
      }
      .btn-primary {
        margin: 0 0.75rem 0 0;
        padding: 0.5rem 1.5rem;
        border-radius: 0.35rem !important;
        &:hover {
          border: 1px solid white !important;
        }
      }
      .btn.active {
  	    background: #51397C !important;
        border-color: white;
      }
    }
    .notes {
      resize: none;
      height: 100px;
    }
    .submit {
      font-size: 1.25rem;
    }
  }
  .hidden {
    display: none;
  }

  #individual_reminders {
    div[id^="reminder"] {
      margin-bottom: 1rem;
      .col-11 {
        font-weight: 500;
        margin-bottom: 0.5rem;
      }
      .col-5 {
        font-size: 1.1rem;
      }
    }
    #heading {
      font-weight: 500;
      margin: 1rem 0 0.5rem 0;
      text-align: center;
    }
    #no_reminders {
      font-size: 1.1rem;
      text-align: center;
    }
  }
}
